* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
#purchased_vouchers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
#purchased_vouchers>div{
text-align: center;
font-weight: 600;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 10px;
margin: 20px auto;
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}